
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /notes/{noteId} {
      // Allow read access to anyone
      allow read: if true;

      // Allow write access only to authenticated users who are the owners of the note
      allow create, update, delete: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
